
:root {
    --cor-bg-geral: rgb(20,20,20);
}

img {  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    padding-top: 60px;
    background-color: var(--cor-bg-geral);
}

.page {
    margin-top: 25px;
}

.btn-selection-modal {
    cursor: pointer;

	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-color: var(--cor-bg-geral);
}

.btn-perk-roulette {
    background-image: url("../imgs/perk-background.png");
}

.btn-perk-enabled {
    background-image: url("../imgs/perk-enabled.png");
}

.btn-perk-hover:hover {
    background-image: url("../imgs/perk-hover.png");
}


.btn-character-roulette {
    background-image: url("../imgs/character-background.png");
}

.btn-character-enabled {
    border: solid white 2px;
}

.btn-character-hover:hover {
    border: solid white 1px;
}

.btns-container-light {
    border-radius: 5px;
    border: 5px solid black;
    background-color: rgb(130, 130, 130);
    margin-top: 150px;
}